<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YemekApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "style/main.css">
</head>
<body>
    <div class = "header">
            <p class = "logoName">
                <a href = "/">YEMEKAPP</a>
            </p>
            <div class = "rightHeader">
                <p class = contact>
                    <a href = "/choices">CHOICES</a>
                </p>
                
                <p class = "contact">
                    <a href = "/">CONTACT</a>
                </p>
            </div>
            
            <div class = "navImg">
                <img src = "images/menu.svg">
            </div>
    </div>
    <div class = "navBar display-none">
        <ul>
            <li><a href="/choices" data-text="Choices">Choices</a></li>
            <li><a href="#" data-text="Contact">Contact</a></li>
        </ul>
    </div>
