<%- include("./partials/header.ejs") %>

<div class = "all">
    <div class = "main">
        <p>
            <%= result%>
        </p>
    </div>
</div>


<%- include("./partials/footer.ejs") %>